.header {
  border: 1px solid black;

  &__row {
    @include flex-justify-align(space-between, center);
  }
}

.themeSelector {
  display: block;
  background: transparent;
  padding: 0;
  border: 0;
  width: 24px;
  height: 26px;
  cursor: pointer;
  margin-right: 24px;
}