.Modal-container {
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid var(--theme-border-color);
  padding: 0;

  &.No-border-title {
    .ant-modal-header {
      border-bottom: none;
    }

    .ant-modal-body {
      padding: 0 24px 24px;
    }
  }

  .ant-modal-header {
    padding: 0;
    background-color: var(--theme-modal-bg);
    border-bottom: 1px solid var(--theme-border-color);
  }

  .ant-modal-title {
    padding: 31px 30px 27px 30px;
    font-weight: 600;

    @media (max-width: $tb_bp) {
      padding: 17px 20px;
    }
  }

  .ant-modal-close {
    top: 21px;
    right: 18px;
    opacity: 0.6;
    color: var(--theme-text-white);

    &:hover {
      opacity: 1;
      color: var(--theme-text-white);
    }

    .ant-modal-close-x {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 15px;
      height: 15px;
      line-height: normal;
    }

    .icon-close {
      font-size: 15px;
    }
  }
}

.ant-modal-mask {
  background: rgba(31, 31, 31, 0.8);
}

// Any type: Solid Background
.Modal-container.solid-bg {
  .ant-modal-body {
    padding: 0;
  }

  .ant-modal-content {
    background: var(--theme-body-color);
  }
}

// Padding Reset for Ant Modal
.Modal-container.padding-reset {
  .ant-modal-body {
    padding: 0;
  }
}

// Background Patterns
.bg-pattern-1,
.bg-pattern-2 {
  background-repeat: no-repeat;
  background-position-y: bottom;
}

.bg-pattern-1 {
  background-image: url('../../../assets/images/bg_modal_dark--pattern1.png');
}

.light-mode .bg-pattern-1 {
  background-image: url('../../../assets/images/bg_modal_white--pattern1.png');
}

.bg-pattern-2 {
  background-image: url('../../../assets/images/bg_modal_dark--pattern2.png');
}

.light-mode .bg-pattern-2 {
  background-image: url('../../../assets/images/bg_modal_white--pattern2.png');
}

// Status Icon Patterns
.status-icon-pattern-1,
.status-icon-pattern-2 {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.status-icon-pattern-1 {
  background-image: url('../../../assets/images/status_icon_dark--pattern1.png');
}

.light-mode .status-icon-pattern-1 {
  background-image: url('../../../assets/images/status_icon_white--pattern1.png');
}

.status-icon-pattern-2 {
  background-image: url('../../../assets/images/status_icon_dark--pattern2.png');
}

.light-mode .status-icon-pattern-2 {
  background-image: url('../../../assets/images/status_icon_white--pattern2.png');
}
