.pageNotFound {
  height: 100vh;

  & h1 {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    text-align: center;
    font-size: 30px;
    color: var(--secondary-text-color);
    margin-top: 100px;
  }
}