.home {
  padding: 80px 0 90px;

  & h1 {
    font-size: 45px;
    font-weight: 700;
    background: rgb(136, 202, 185);
    background: linear-gradient(90deg, rgba(136, 202, 185, 1) 0%, rgba(46, 122, 110, 1) 50%, rgba(43, 115, 104, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
  }

  & h2 {
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 500;
    color: var(--four-text-color);
  }

  & h1, & h2 {
    text-align: center;
  }
}
