.faqBlock {
  max-width: 700px;
  width: 100%;
  margin: 0 auto 50px;

  @include media-mobile {
    margin-bottom: 0;
  }

  & h3 {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 38px;
    color: var(--six-text-color);
  }

  .customArrow {
    display: inline-block;
    width: fit-content;
    font-style: normal;
    @include transition;
    position: absolute;
    right: 24px;
    top: 24px;
    transform: rotate(-180deg);

    &__active {
      transform: rotate(0);
      @include transition;
    }
  }

  .accordion {
    background-color: transparent;

    &__item {
      margin-bottom: 26px;
      background-color: var(--accordion-bg);
      border-radius: 8px;
      min-height: 54px;
      border: none;
      @include transition;

      @include media-mobile {
        margin-bottom: 25px;
      }

      &:last-child {
        border-radius: 8px;
      }

      & > div {
        margin-top: -10px;
        font-size: 16px;
        font-weight: 500;
        line-height: 30px !important;
        padding-right: 10px !important;
        color: var(--four-text-color) !important;
        @include media-low-mobile {
          padding-right: 30px !important;
        }

      }
    }

    &__answer {
      line-height: 1.4;
      font-weight: 300;
      color: var(--six-text-color);
      @include transition;
    }
  }
}
