.btn {
  font-size: 14px;
  line-height: 1.3;
  color: var(--six-text-color);
  padding: 11px 24px;
  min-height: 40px;
  min-width: 148px;
  border-radius: 19px;
  background-color: var(--card-bg);
  border: 1px solid $borderColor;
  @include transition;

  &:hover {
    opacity: .7;
    @include transition;
  }
}